@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

/* shared styles */
.d-flex {
    display: flex;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* color */
.dark01 {
    color: #131313;
}
.dark03{
    color: #727272;
}
.btn{
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 25px;
}
/* header styles */

header {
    background-color: #FFF3E6;
    width: 100%;
}

header h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #131313;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
}

ul li {
    list-style: none;
    margin-left: 25px;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
}
.banner h1{
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    width: 862px;
    margin:100px auto 0;
}
.banner p{
    font-size: 1rem;
    font-weight: 400;
    width: 862px;
    text-align: center;
    margin: 32px auto;
}
.button{
    text-align: center;
}
.b-img{
    padding: 50px 0 45px 0;
}